body 
{
  background: #fed;
  font-family: verdana;
  text-align: center;
}

#explanation
{
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	width: 50%;
	margin: auto;
	padding: 10px;
}
